
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Knewave&display=swap');
.knewave-regular {
  font-family: "Knewave", serif;
  font-weight: 400;
  font-style: normal;
  
}

.softskill{
    margin: 100px 0;
    padding: 20px 0 50px 0;
    background: url('../../../../public/asse/board.jpg');
    background-color:#232323 ;
    color: #d6d6d6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
}
.skilllist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: larger;
}
.softtit{
    text-align: center;
}
@media (max-width: 680px) {
    .skilllist{
        flex-direction: column;
        align-items: start;
    }
    .softskill{
        padding: 0;
        margin: 0;
    }
}